---
import {
  AspectRatio,
  Bleed,
  Box,
  Center,
  Circle,
  Container,
  Divider,
  Flex,
  Grid,
  GridItem,
  HStack,
  LinkBox,
  LinkOverlay,
  Spacer,
  Square,
  Stack,
  VStack,
  Wrap,
} from "~/components/primitives/jsx"
---

<body>
  <AspectRatio className="bg-indigo-300">
    <p>This is a AspectRatio</p>
  </AspectRatio>
  <Bleed className="bg-blue-200">
    <p>This is a Bleed</p>
  </Bleed>
  <Box className="bg-teal-200">This is a Box</Box>
  <Center className="bg-green-200">This is a Center</Center>
  <Circle className="bg-yellow-200 h-24 w-24 text-center">This is a Circle???</Circle>
  <Container className="bg-gray-200 mx-auto">This is a Container</Container>
  <Divider className="bg-gray-300">This is a Divider</Divider>
  <Flex className="bg-gray-400">
    <p>This is a Flex</p>
    <p>This is a Flex</p>
    <p>This is a Flex</p>
  </Flex>
  <Grid className="bg-gray-500">
    <p>This is a Grid</p>
    <p>This is a Grid</p>
    <p>This is a Grid</p>
    <GridItem className="bg-gray-600">This is a GridItem</GridItem>
  </Grid>
  <LinkBox className="bg-gray-700">This is a LinkBox</LinkBox>
  <LinkOverlay className="bg-gray-800">This is a LinkOverlay</LinkOverlay>
  <Spacer className="bg-gray-900">This is a Spacer</Spacer>
  <Square className="bg-red-200">This is a Square???</Square>
  <HStack className="bg-red-300">
    <p>This is a HStack</p>
    <p>This is a HStack</p>
    <p>This is a HStack</p>
  </HStack>
  <Stack className="bg-orange-200">
    <p>This is a Stack</p>
    <p>This is a Stack</p>
    <p>This is a Stack</p>
  </Stack>

  <VStack className="bg-purple-200">
    <p>This is a VStack</p>
    <p>This is a VStack</p>
    <p>This is a VStack</p>
  </VStack>
  <Wrap className="bg-purple-300">
    <p>This is a Wrap</p>
    <p>This is a Wrap</p>
    <p>This is a Wrap</p>
    <p>This is a Wrap</p>
    <p>This is a Wrap</p>
    <p>This is a Wrap</p>
    <p>This is a Wrap</p>
    <p>This is a Wrap</p>
    <p>This is a Wrap</p>
  </Wrap>
</body>
