---
import Accordion from "~/components/Accordion";
import Layout from "../layouts/Layout.astro";
import Button from "~/components/Button";
---



<Layout title="Welcome to Astro.">
  <main>
    <Accordion client:load />
    <Button client:load>Click me</Button>
    <Button variant="secondary">Click me</Button>
    <Button isDisabled={true} client:load>Disabled</Button>
  </main>
</Layout>

