---
import Layout from "@layouts/Layout.astro";
import { Button } from "@components/ui/button";
---



<Layout title=" Mike's boilerplate">
  <main>
    <Button client:load>Click me</Button>
    <Button variant="secondary">Click me</Button>
    <Button disabled={true} client:load>Disabled</Button>
  </main>
</Layout>

