@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0 0% 100%;
    --navy: 222.2 84% 4.9%;
    --cool-white: 210 40% 98%;
    --ice: 214.3 31.8% 91.4%;
    --blue: 222.2 47.4% 50.2%;
    --dark-navy: 222.2 47.4% 11.2%;
    --light-navy: 217.2 32.6% 17.5%;

    --background: var(--white);
    --foreground: var(--charcoal);

    --card: var(--white);
    --card-foreground: var(--navy);

    --popover: var(--white);
    --popover-foreground: var(--navy);

    --primary: var(--blue);
    --primary-foreground: var(--cool-white);

    --secondary: var(--cool-white);
    --secondary-foreground: var(--navy);

    --muted: var(--cool-white);
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: var(--cool-white);
    --accent-foreground: var(--navy);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--cool-white);

    --border: var(--ice);
    --input: var(--ice);
    --ring: var(--dark-navy);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--dark-navy);
    --foreground: var(--cool-white);

    --card: var(--dark-navy);
    --card-foreground: var(--cool-white);

    --popover: var(--dark-navy);
    --popover-foreground: var(--cool-white);

    --primary: var(--cool-white);
    --primary-foreground: var(--navy);

    --secondary: var(--light-navy);
    --secondary-foreground: var(--cool-white);

    --muted: var(--light-navy);
    --muted-foreground: 215 20.2% 65.1%;

    --accent: var(--light-navy);
    --accent-foreground: var(--cool-white);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--cool-white);

    --border: var(--light-navy);
    --input: var(--light-navy);
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @layer panda_base;
@layer panda_base
@layer panda_recipes
@layer panda_utilities
@layer panda_reset
@layer panda_tokens; */
